{% extends "base.html.twig" %}

{% block title %}

	today

{% endblock %}

{% block body %}
	{% if messages|length > 0 %}

		<button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal">
			Notifications <span class="badge bg-secondary">{{ messages|length }}</span>
		</button>
	{% endif %}

	<hr>
	{% for key, currency in allAmounts %}
		<div class="row">
			<div class="col-md-3">
				<label for="inputCity" class="form-label">Amount in {{ key }}</label>
				<input type="text" class="form-control" id="inputCity" disabled value="{{ currency.amount }}">
			</div>
			<div class="col-md-3">
				<label for="inputCity" class="form-label">Amount in LE</label>
				<input type="text" disabled class="form-control" id="inputCity" value="{{ currency.egpValue }}">
			</div>
		</div>
	{% endfor %}







	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">ALERT</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% for message in messages %}
						{{ message }}
						<hr>
					{% endfor %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

